<div class="row">
  <div class="card col-sm-6 col-md-4 col-lg-4" *ngFor="let product of products">
    <img [src]="product.image" class="card-img-top to-link" [alt]="product.id" (click)="showDetail(product.id)">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      {{ product.price | currency }}
    </div>
    <ul class="list-group list-group-flush">      
      <li class="list-group-item">{{ product.category }}</li>      
    </ul>
    <div class="card-body">
      <a (click)="addToCart(product)" class="btn btn-sm btn-success">
        <i class="fa fa-cart-plus"></i>
        Add to cart
      </a>
    </div>
  </div>
</div> 
